// COLORS 
$color-primary: #fecb09;
$color-primary-0: #caa5115b;

$color-primary-dark: #404040;
$color-primary-dark-0: #2f2f2f;
$color-primary-dark-1: #5c5a5a;

$color-grey-light: #999999;
$color-grey-light-0: #a1a0a0;
$color-grey-dark: #7e7d7d;

// FREQUENTLY USED COLORS
$color-white: #fff;
$color-black: #000;