.sidebar {
    position: fixed;
    width: 12%;
    height: 100vh;
    background-color: $color-primary-dark-0;
    transition: .5s;
    overflow: visible;
    

    @include respond(tab-port) {
        width: 300px;
        z-index: 20;
        margin-left: -300px;
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &__closeBtn {
        position: absolute;
        float: right;
        right: 2rem;
        top: 2rem;
        font-size: 1.8rem;
        color: $color-white;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;

        @include respond(tab-port) {
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }
    }

    &__logo {
        position: relative;
        top: 1rem;
        padding-left: 25%;

        @include respond(tab-port) {
            padding-left: 40%;
        }
    }

    &__tab {
        margin-top: 3rem;

        & li {
            text-align: center;
            padding: 2rem;
            color: $color-grey-light-0;
            font-size: 1.1rem;
            list-style: none;
            cursor: pointer;
            transition: all .2s;
            border-left: 2px solid transparent;
            

            &:hover {
                background: $color-primary-dark-1;
                color: $color-white;
                transition: all .2s;
            }
        }

        & .active {
            color: $color-white;
            border-left: 2px solid $color-primary;
            background: $color-primary-dark;
        }
    }
}


.toggle-sidebar {
    position: absolute;
    font-size: 1.8rem;
    color: $color-white;
    float: left;
    left: 1rem;
    top: 0;
    cursor: pointer;
    display: none;
    opacity: 0;
    z-index: 2;

    & a {
        color: $color-white;
    }

    
    @include respond(tab-port) {
        display: block;
        opacity: 1;
    }
}