.customer {
    & h1 {
        & span {
            margin-left: 1rem;
            font-weight: 300;
            font-size: 1.6rem;
        }
    }

    &__caption {
        margin-bottom: 3rem;

        & h1 {
            font-size: 1.8rem !important;
            font-weight: 300 !important;
        }
    }

    @include respond(phone) {
        & .check__item {
            height: 20rem !important;
        
            &--1 {
                height: 55rem !important;                
            }
        }
    }

    &__item {
        height: 20rem;

        &--content {
            left: 3rem;

            @include respond(tab-port) {
                left: -2rem;

                & .check__item--grid {
                    width: 50%;
                    height: 20% !important;
                    float: left;
                    left: 0;
                    margin-left: 0;    
                    margin-bottom: 0 !important;
                }            
            }
            
            &--1 {
                top: -3rem;
            }
        }

        &--grid {
            position: relative;
            height: 100%;
            float: left;
            left: 0;
            border-bottom: 1px solid $color-primary-dark;
            

            @include respond(tab-port) {
                height: 20rem;
            }

            & img {
                width: 13rem;
                height: 13rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }
        }
    }
}

.interest__btn {
    position: relative;
    top: 1rem;
    color: $color-primary;
    padding: .6rem 1.5rem .6rem 1.5rem;
    margin-right: 1rem;
    background-color: $color-primary-0;
    border-radius: 5rem;
    
    &:hover {
        text-decoration: none;
        color: $color-primary;
    }

    @include respond(tab-land) {
        font-size: .4rem !important;
        top: 0;
        float: left;
        left: 0;
        margin-right: 1rem !important;
        margin-bottom: .5rem;
    }
}